@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital@0;1&family=Yanone+Kaffeesatz&display=swap');

body, html {
  padding: 0;
  margin: 0;
  background-color: #414651;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.app-root {
  text-align: center;
  display: flex;
  flex-direction:column
}

.app-header {
  color: white;
  font-size: 20px;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 20px;
}

.logo {
  display: flex;
}
.logo h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  text-align: start;
  padding-left: 15px;
}

.search {
  height: 100%;
  width: 85%;
}
.search input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 90%;
  color: white;
  font-size: 40px;
  padding: 0 16px;
  box-sizing: border-box;
}

.footer {
   color: white;
   position: absolute;
   background-color: #414651;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 19px;
   width: 100%;
   height: 35px;
}

.footer-icon {
  margin-right: 20px;
}

@media (max-width: 550px) {
  .search input {
    font-size: 25px;
  }
  
}