.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}
// .image-container:hover > .tools-div {
//   visibility: visible;
// }
// .image-container:hover > .more {
//   visibility: hidden;
// }
.more {
  color: white;
  font-size: 35px;
}
.image-root {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  height: 80%;
  width: 100%;
  cursor: pointer;
}

  .tools-div {
    border-radius: 4px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.686);
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    bottom: -30px;
    position: relative;
  }

  .image-icon {
    cursor: pointer;
    color: #000 !important;
  }
.show-less {
  border-radius: 50%;
  background-color: #c3c5c8;
  padding: 4px;
  width: 15px;
  height: 15px;
  font-size: 17px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
  .black-and-white {
    background-color: #4747472d !important;
    padding:2px 15px;
    padding-bottom: 0;
    border-radius: 9px;
    display: flex;
  }
.black-and-white span {
  font-size: 20px;
}


  .drag-over {
    border: 2px dotted white !important;
    padding: 5px !important;
  }