.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.image-container:hover > .tools-div {
  visibility: visible;
}
.image-container:hover > .more {
  visibility: hidden;
}
.more {
  color: white;
  font-size: 35px;
}
.image-root {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  height: 80%;
  width: 100%;
  cursor: pointer;
}

  .tools-div {
    border-radius: 4px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.686);
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    visibility: hidden;
  }

  .image-icon {
    cursor: pointer;
    color: #000 !important;
  }

